.discount{
    color: #500472;
    padding: 10px;
    text-align: center;
    font-size: 25px;
}

.container{
    display: flex;
}
.heros{
    position: relative;
}

.heropic{
    height: 600px;
    width: 100%;
    filter: brightness(30%);
    position: relative;
}

.hero{
    position: relative;
    z-index: 1;
}

.txt{
    position: absolute;
    z-index: 2;
    top: 50%;
    color: white;
    font-size: 25px;
    padding-left: 30px;
}

.ccp{
    width: 100%;
    font-size: 35px;
   text-align: left;
}

.cp{
    width: 100%;
    text-align: left;
    margin-left: 10px;
    font-size: 15px;
    align-items: center;
    justify-content: center;
}

.so{
    padding-top: 70px;
    padding-bottom: 50px;
}

.offer{
    color: #500472;
    text-align: center;
    text-shadow: 5px;
    font-size: 50px;
    padding-top: 50px;
}


.pt{
    color: #500472;
}

.paint{
    display: flex;
    gap: 10;
    text-align: center ;
   margin-left: 50px;
   margin-right: 50px;
   padding-top: 60px;
}

.p{
    padding-top: 40px;
}

.pp{
    text-align: justify;
   
    padding-bottom: 20px;
}

.pi{
    width: 50rem;
    padding: 20px;
}

.btns{
    margin-right: 300px;
}



@media (300px <= width <= 780px){
    .discount{
        color: #500472;
        padding: 10px;
        text-align: center;
        font-size: 15px;
    }
    
    .container{
        display: flex;
    }
    
    .heros{
        position: relative;
    }
    
    .heropic{
        height: 350px;
        width: 100%;
        filter: brightness(50%);
        position: relative;
    }
    
    .hero{
        position: relative;
        z-index: 1;
    }
    
    .txt{
        position:absolute;
        z-index: 1;
        top: 50%;
        color: white;
        font-size: 20px;
        padding-left: 30px;
    }
    
    .ccp{
        font-size: 20px;
       text-align: left;
    }

    .cp{
        text-align: left;
        font-size: 15px;
        padding-bottom: 30px;
    }
    .so{
        padding-top: 70px;
        padding-bottom: 50px;
    }
    
    .offer{
        color: #500472;
        text-align: center;
        font-size: 40px;
        padding-top: 10px;
    }
    
    
    .pt{
        color: #500472;
    }
    
    .paint{
        display: flex;
        gap: 10;
        text-align: center ;
       margin-left: 50px;
       margin-right: 50px;
       padding-top: 40px;
       flex-direction: column;
    }
    
    .p{
        padding-top: 20px;
    }
    
    .pp{
        text-align: justify;
        padding-bottom: 20px;
        text-align: center;
        margin-right: 5px;
    }
    
    .pi{
        width: 20rem;
        padding: 10px;
    }
    
    .btns{
        margin-right: 300px;
    }
    
}