.foot{
    background-color: #500472;
}


.list{
    width: 50%;
    color: #ffff;
    display: flex;
}

.body{
    margin-left: 20px;
    margin-top: 40px;
}

.btn{
    width: 60%;
    color: #79CBB8;
    margin: 15px;
    text-decoration: none;
    background: none;
    border: none;
}

.col{
    color: #ffff;
    margin: 10px;
    padding: 20px;
}

.col1{
    color: #ffff;
    margin: 10px;
    padding: 20px;
}

.text{
    margin-left: 20px;
}

.icon{
    margin: 15px;
    background: none;
    border: none;
}

.right{
    margin-left: 5%;
    color: rgb(182, 182, 182);
}


@media (300px <= width <= 780px){
    .foot{
        background-color: #500472;
    }
    
    
    .list{
        width: 50%;
        color: #ffff;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .body{
        margin-left: 50px;
        margin-top: 20px;
        align-items: center;
    }
    
    .btn{
        width: 60%;
        color: #79CBB8;
        margin: 15px;
    }
    
    .col{
        color: #ffff;
        align-items: center;
        
    }

    .col1{
        color: #ffff;
        align-items: center;
        
    }
    
    .text{
        margin-left: 20px;
    }
    
    .icon{
        margin: 10px;
    }
    
    .right{
        margin-left: 5%;
        color: rgb(182, 182, 182);
    }
    
}
