.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }