.navbar{
    background-color: #500472;
    width: 100%;
    position: sticky;
    
}


.logo{
    width: 100px;
    margin-right: 500px;
    height: 50px;
    
}

.ul{
    display: flex;
    color: #ffffff;
    font-size: 22px;
    gap: 40px;
    
}

.li{
    list-style: none;
   color: #fff; 
   text-decoration: none; 
}

.li:hover{
    background-color: white;
}

@media (300px <= width <= 780px){

    .navbar{
        background-color: #500472;
        width: 100%;
        position: sticky; 
    }
    
    
    .logo{
        width: 50px;
        margin-right: 250px;
        height: 40px;  
    }

    .toggle{
        background-color: white;
    }
    
    .ul{
        display: flex;
        color: #ffffff;
        font-size: 15px;
        gap: 40px;  
    }
    .ul:hover{
        background-color: white;
    }
    
    .li{
        list-style: none;
       color: #fff; 
       text-decoration: none; 
       display: flex;
    }
    
    .li:hover{
        background-color: white;
    }
}
