.navbar{
    background-color: #500472;
    width: 100%;
    position: sticky;
    
}


.logo{
    width: 100px;
    margin-right: 500px;
    height: 50px;
    
}

.ul{
    display: flex;
    color: #ffffff;
    font-size: 22px;
    gap: 40px;
    
}

.li{
    list-style: none;
   color: #fff; 
   text-decoration: none; 
}

.li:hover{
    -webkit-text-stroke: 2px;
}

.toggle{
    -webkit-text-stroke: 2px;
}

.collapse{
    -webkit-text-stroke: 2px;
    
}

@media (300px <= width <= 780px){

    .navbar{
        background-color: #500472;
        width: 100%;
        position: sticky; 
    }
    
    
    .logo{
        width: 50px;
        margin-right: 250px;
        height: 40px;  
    }

    .toggle{
        color: white !important;
        border-color: #ffffff;
    }
    /* .toggle::after
    .toggle::before{
        color: white !important;
        border-color: #ffffff;
    } */

    .collapse{
        color: white !important;
        border-color: #ffffff;
    }
    
    .ul{
        display: flex;   
        font-size: 15px;
        gap: 40px; 
        padding-top: 40px; 
    }
    
    .li{
        list-style: none;
       text-decoration: none; 
       
    }
}
