.image{
    height: 600px;
    width: 100%;
    position: relative;
    z-index: 1;
    background-color: black;
    filter: brightness(50%);
}

.carouselitem {
    position: relative;
    z-index: 1;
    
} 

.carouselcap{
    z-index: 1;
    position: flex;
    position: absolute;
    top: 30%;
    color: white;
    width: 80%;
    align-items: center;
    justify-content: center;
    padding-right: 140px;
    
}

.ccp{
    width: 100%;
    font-size: 35px;
    /* margin-right: 100px ; */
   text-align: center;
}

.cp{
    width: 100%;
    text-align: center;
    margin-left: 10px;
    font-size: 15px;
    align-items: center;
    justify-content: center;
    display: flex;
}

@media (260px <= width <= 1080px){
    .image{
        height: 400px;
        width: 100%;
        position: relative;
        z-index: 1;
        background-color: black;
        filter: brightness(50%);
    }
    
    .carouselitem {
        position: relative;
        z-index: 1;
        
    } 
    
    .carouselcap{
        z-index: 1;
        position: flex;
        color: white;
        width: 80%;
        align-items: center;
        justify-content: center;
        top: 15%;  
        margin: 10px;
    }
    
    .ccp{
       
        font-size: 20px;
       text-align: center;
       margin: 100px;
    }
    
    .cp{
        
        text-align: center;
        margin-left: 10px;
        font-size: 15px;
        align-items: center;
        justify-content: center;
        display: flex;
    }
}